<div class="card text-white">
    <img class="card-img" src="../../../assets/images/egzotyka.jpg" class="img-responsive" alt="Responsive image">
    <div class="card-img-overlay">
      <h1>Witaj w agencji turystycznej Hi Sky Travel!</h1>
      <p class="card-text">Zapraszamy do przeglądnięcia naszych ofert wycieczek.</p>
      <div>
        <h2>Dane kontaktowe</h2>
        <p>Adres: ulica Marszałkowska 85a/134</p>
        <p>Telefon: 123 456 789</p>
      </div>
      <div>
        <h2>Nasza lokalizacja na mapie</h2>
        <img id="mapa" src="../../../assets/images/mapa.jpg" class="img-responsive" alt="Responsive image">
      </div>
    </div>
</div>