<div id="main-container">
    <img class="card-img" src="../../../assets/images/egzotyka.jpg" class="img-responsive" alt="Responsive image">
    <div id="card">
        <app-filter></app-filter>
        <div *ngIf="user.type >= 1" class="new-journey">
            <h1>Dodaj nową wycieczkę</h1>
            <button routerLink="/addnewjourney"><p>DODAJ</p></button>
        </div>
        <div *ngIf="user.type==0" [ngClass]="{small_quantity:counter<10, big_quantity:counter>=10}" id="header">
            <h2 *ngIf="user.type < 0">Zaloguj się, aby zarezerwować wycieczki</h2>
            <h2 *ngIf="user.type == 0">Twoje rezerwacje</h2>
            <div id="info">
                <div class="rounded-circle bg-white">
                    <a *ngIf="user.type == 0" routerLink="/basket">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-basket"
                            viewBox="0 0 16 16">
                            <path
                                d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z" />
                        </svg>
                    </a>
                </div>
                <p *ngIf="user.type == 0">Ilość: {{counter}}</p>
            </div>
        </div>
        <app-journey (delete)="removeJourney($event)" (counter)="add($event)" *ngFor="let journey of journeys"
            [journey]="journey" [minValue]="value1" [maxValue]="value2" [removeEvent]="removeEvent">
        </app-journey>
    </div>
    <app-footer></app-footer>
</div>