<div class="user-list-container">
    <h1>Użytkownicy</h1>
    <div class="user-list-user" *ngFor="let user of users">
        <p class="user-list-element">Nick: {{user.nick}}</p>
        <p class="user-list-element">E-mail: {{user.email}}</p>
        <div class="user-list-buttons">
            <button class="user-list-button" *ngIf="user.banned"
                (click)="userService.switchBan(user, false)"><p>Odblokuj</p></button>
            <button class="user-list-button" *ngIf="!user.banned"
                (click)="userService.switchBan(user, true)"><p>Zablokuj</p></button>
            <button class="user-list-button" *ngIf="user.type != 0" (click)="userService.setUser(user)"><p>Usuń role</p></button>
            <button class="user-list-button" *ngIf="user.type != 1" (click)="userService.setManager(user)"><p>Uczyń menadżerem</p></button>
            <button class="user-list-button" *ngIf="user.type != 2" (click)="userService.setAdmin(user)"><p>Uczyń adminem</p></button>
        </div>
    </div>
</div>