<div id="main-container">
    <img class="card-img" src="../../../assets/images/egzotyka.jpg" class="img-responsive" alt="Responsive image">
    <div class="signup-container">
        <h1>Rejestracja</h1>
        <form class="signup-form" [formGroup]="signup" (ngSubmit)="submit()">
            <div class="signup-field">
                <label for="nick">Nick</label>
                <input id="nick" type="text" formControlName="nick">
                <p class="signup-alert" *ngIf="signup.get('nick')!.hasError('required') &&
            (signup.get('nick')!.touched || signup.get('nick')!.dirty)">Nick jest wymagany!</p>
            </div>
            <div class="signup-field">
                <label for="email">E-mail</label>
                <input id="email" type="email" formControlName="email">
                <p class="signup-alert" *ngIf="signup.get('email')!.hasError('required') &&
            (signup.get('email')!.touched || signup.get('email')!.dirty)">E-mail jest wymagany!</p>
            </div>
            <div class="signup-field">
                <label for="password">Hasło</label>
                <input id="password" type="password" formControlName="password">
                <p class="signup-alert" *ngIf="signup.get('password')!.hasError('required') &&
            (signup.get('password')!.touched || signup.get('password')!.dirty)">Hasło jest wymagane!</p>
            </div>
            <div class="signup-field">
                <label for="confirm">Potwierdź hasło</label>
                <input id="confirm" type="password" formControlName="confirm">
                <p class="signup-alert" *ngIf="signup.get('confirm')!.hasError('required') &&
            (signup.get('confirm')!.touched || signup.get('confirm')!.dirty)">Hasło jest wymagane!</p>
                <p class="signup-alert" *ngIf="signup.get('confirm')!.hasError('confirmPassword') &&
            (signup.get('confirm')!.touched || signup.get('confirm')!.dirty)">Hasła nie są zgodne!</p>
            </div>
            <div class="signup-field">
                <button class="signup-button" [disabled]="!signup.valid" (click)="submit()">Zarejestruj się</button>
                <a class="signup-link" routerLink="/login" routerLinkActive="active">Masz już konto?</a>
            </div>
        </form>
    </div>
</div>